/*--- Big tablet to 1200px (widths smaller than the 1140px) -----*/
@media only screen and (max-width: 1200px) {
    .catch-box {
        width: 100%;
        margin-right: 100px;
    }
}


/*--- Small tablet to big tablets: from 768 to 1023px -----*/
@media only screen and (max-width: 1023px) {
    
    body {font-size: 18px;}
    section {padding: 60px 0;}
    
    .catch-box {
        position: absolute;
        width: 100%;
        transform: translate(-30%, -50%);
        -webkit-transform: translate(-30%, -50%);
        -moz-transform: translate(-30%, -50%);
        -ms-transform: translate(-30%, -50%);
        -o-transform: translate(-30%, -50%);
    }

    .main-nav {
        margin-right: 150px;
    }
}


/*--- Small Phones to Small Tablets: from 481 to 767px -----*/
@media only screen and (max-width: 767px) {
    html {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
    
    body { 
        font-size: 20px; 
        width: 100%;
    }

    .catch-box {
        position: absolute;
        width: 100%;
        transform: translate(-50%, -10%);
    }

    .row,
    .catch-box { padding: 0 4%;}
    .col {
        width: 100%;
        margin: 0 0 4% 0;
        padding: 10px;
        font-size: 30px;
    }

    .main-nav {
        padding: 0 0;
        display: block;
        margin-right: 1px;
    }

    h1 {font-size: 200%;}
    h2 {font-size: 180%;}

    footer {
        font-size: 50%;
        font-weight: 200;
    }
}


/*--- Small Phones: from 0 to 480px -----*/
@media only screen and (max-width: 480px) {
    body,
    html,
    .friend-box {
        font-size: 16px;
    }

    h1 {font-size: 180%;}
    h2 {font-size: 150%;}
    h3 {
        font-size: 140%;
        font-weight: 600;
    }

    .main-nav { display: none;}

    header { margin-bottom: 0;}
    .brief {
        margin-bottom: 60px;
        margin-top: 50px;
    }

    footer {
        font-size: 5px;
        font-weight: 100;
    }
}
