
body{
    background-image: url(https://image.shutterstock.com/image-illustration/contact-us-page-concept-on-260nw-775433143.jpg);
    background-repeat: no-repeat;
    background-size: 1000px 1200px;
}


